.catalog__inner {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-bottom: 70px;
}

.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden
}

.catalog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 992px) {
  .catalog__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .catalog__inner {
    row-gap: 20px;
  }

  .catalog__header {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
}

@media (max-width: 680px) {
  .catalog__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .catalog__inner {
    padding: 0 0 50px;
  }

  .catalog__header {
    padding-left: var(--container-padding-x);
  }

  .catalog__grid {
    padding-inline: var(--container-padding-x);
  }
}
