.hero {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.hero__title {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & span {
    color: var(--color-green);
  }
}

.hero__description {
  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .hero__description {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    grid-template-columns: 195px 1fr;
    padding-block: 50px;
  }

  .hero__title,
  .hero__description {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__description {
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .hero {
    grid-template-columns: 1fr;
    padding-block: 60px;
  }

  .hero__title {
    font-size: 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .hero__description {
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .hero__image {
    display: none;
  }
}
