.hero {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.hero__title {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & span {
    color: var(--color-green);
  }
}

.hero__description {
  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .hero__description {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
