.promo {
  padding-block: 70px;
  background: url('../../images/promo/promo-bg.jpg') center / cover no-repeat;
}

.promo__image {
  margin-bottom: 20px;
}

.promo__description {
  max-width: 540px;
  margin-bottom: 60px;
  color: var(--color-light);
}

@media (max-width: 992px) {
  .promo {
    background-image: url('../../images/promo/promo-bg-tablet.jpg');
  }

  .promo__image,
  .promo__description {
    margin-bottom: 30px;
  }

  .promo__image {
    max-width: 450px;
  }

  .promo__description {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .promo {
    padding-block: 50px;
  }

  .promo__image,
  .promo__description {
    margin-bottom: 20px;
  }

  .promo__image {
    max-width: 331px;
  }

  .promo__description {
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .promo__image {
    max-width: 290px;
  }

  .promo__description {
    margin-bottom: 30px;
  }

  .promo__link {
    max-width: 100%;
  }
}
