.burger-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;

  &.is-active {
    .burger-button__line {
      &:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.16em 0;
      }

      &:nth-child(2) {
        rotate: -45deg;
      }

      &:last-child {
        width: 0;
      }
    }
  }
}

.burger-button__line {
  width: 20px;
  height: 2px;
  background-color: #4C5866;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}

@media (min-width: 577px) {
  .burger-button {
    display: none;
  }
}
