.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 60px;
  font-size: 20px;
  color: var(--color-green);
  background-color: transparent;
  white-space: nowrap;
  border: var(--border);

  &:hover {
    color: var(--color-light-alt);
    background-color: var(--color-green);
    border-color: transparent;
  }

  &:active {
    color: var(--color-light);
    background-color: var(--color-dark-green);
  }

  &:focus-visible {
    color: var(--color-green);
    background-color: var(--color-light-green-alt);
  }

  &.yellow {
    max-width: 257px;
    color: var(--color-dark);
    background-color: var(--color-yellow);
    border-color: transparent;

    &:hover {
      background-color: #FAEB97;
    }

    &:active {
      background-color: #D9B949;
    }

    &:focus-visible {
      border-color: #A38314;
    }
  }
}

@media (max-width: 992px) {
  .button,
  .button.yellow {
    max-width: 210px;
  }
}

@media (max-width: 576px) {
  .button {
    max-width: 178px;
    font-size: 18px;

    &.yellow {
      max-width: 190px;
      font-size: 18px;
    }
  }
}

@media (max-width: 390px) {
  .button {
    max-width: 154px;

    &.yellow {
      max-width: 100%;
      width: 100%;
    }
  }
}
