.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 60px;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-green);
  white-space: nowrap;
  border: var(--border);

  &:hover {
    color: var(--color-light-alt);
    background-color: var(--color-green);
    border-color: transparent;
  }

  &:active {
    background-color: var(--color-dark-green);
  }

  &:focus-visible {
    color: var(--color-green);
    background-color: var(--color-light-green-alt);
  }
}

@media (max-width: 768px) {
  .button {
    max-width: 210px;
  }
}

@media (max-width: 576px) {
  .button {
    max-width: 178px;
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  .button {
    max-width: 154px;
  }
}
