.tabs {
  display: flex;
  align-items: center;
  column-gap: 32px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.tabs__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 43px;
  padding: 10px 20px;
  font-size: 20px;
  color: var(--color-dark);
  background-color: var(--color-light-green-alt);
  border: none;
  border-radius: var(--border-radius);

  &.is-active {
    color: var(--color-light-alt);
    background-color: var(--color-dark-green);
  }
}

@media (max-width: 576px) {
  .tabs {
    column-gap: 20px;
    width: 100%;
    max-width: 100%;
  }
}
