body {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 18px;
  color: var(--color-gray);
  background-color: var(--color-light-alt);
}

a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 500;
  line-height: 1.1;
  color: var(--color-dark);
}

h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 40px;
}

h3, .h3 {
  font-size: 20px;
}

:focus-visible {
  outline: 2px dashed var(--color-green);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

::selection {
  color: var(--color-light-alt);
  background-color: var(--color-green);
}

@media (max-width: 992px) {
  h1, .h1 {
    font-size: 40px;
    line-height: 1;
  }

  h2, .h2 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  h2, .h2 {
    font-size: 24px;
  }
}
