.footer {
  padding-block: 23px;
  background-color: var(--color-light-green);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__phone {
  font-size: 20px;
  color: var(--color-dark);
}

.footer__address {
  font-size: 18px;
  color: var(--color-gray);
}

.footer__col {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.footer__menu {
  display: flex;
  column-gap: 60px;
}

.footer__list {
  display: contents;
}

.footer__col-title {
  font-size: 20px;
}

.footer__link {
  color: var(--color-gray);
}

.footer__extra {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__soc1als-list {
  display: flex;
  column-gap: 30px;
}

.footer__soc1als-item {
  display: flex;
}

.footer__soc1als-link {
  color: var(--color-dark);
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-gray);
}

@media (max-width: 992px) {
  .footer__inner {
    display: grid;
    grid-template-columns: 1fr 170px;
    grid-template-rows: auto 1fr;
    row-gap: 30px;
  }

  .footer__main {
    display: contents;
  }
}

@media (max-width: 576px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }

  .footer__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .footer__menu {
    justify-content: space-around;
  }

  .footer__phone,
  .footer__address,
  .footer__col:first-child .footer__col-title,
  .footer__link {
    font-size: 16px;
  }

  .footer__extra {
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--color-light-green-muted);
  }

  .footer__copyright {
    flex-direction: row;
  }
}

@media (max-width: 390px) {
  .footer {
    padding-block: 20px;
  }

  .footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
  }

  .footer__logo,
  .footer__extra {
    grid-column: 1 / -1;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__main,
  .footer__menu {
    display: contents;
  }
}
